<!-- nav single -->
<nav class="navbar transparent navbar-inverse sticky-top" style="border-bottom: 1px solid black;">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">MY<span style="color: red;">.</span>BUSINESS</a>
    </div>
</nav>
<!-- nav end -->

<div class="my-container">
    <div class="bg-img">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="card card-modi">
                <div class="my-auto pt-5 pb-5">
                    <h3 class="header text-center">Welcome Back</h3>
                    <p class="text-center sub-text">Please sign in to continue</p>

                    <form class="container width-input mt-4">
                        <div class="mb-3">
                            <label for="username" class="form-label label-font">Username</label>
                            <input type="email" class="form-control" id="username" placeholder="Enter your username">
                        </div>

                        <div class="mb-4">
                            <label for="password" class="form-label label-font">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Enter your password">
                        </div>
                        <div class="d-grid">
                            <button type="button" class="btn btn-primary btn-sm">Sign in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>